/* global style */

body {
    background-color: cornsilk;
}

header {
    border: 1px solid green;
}

main {
    border: 1px dashed purple;
}



footer {
    background-color: palegreen;
}

/* homepage style */

section {
    border: 2px dashed blue;
}

.homepageimage {
    width: 300px;
}